# Variables used to provision resources

route53_domain="domain.com"

app_sub_domain="hello-api"
app_port="8080"
app_repository="example-api"
app_image_tag="latest"

app_environment_variables = [
    {
        "name": "APP_PORT",
        "description": "Application Port",
        "value": app_port
    },
    {
        "name": "API_PATH",
        "description": "Application API Path",
        "value": "/api/v1"
    }
]